.transaction-details-container {
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

table, mat-card {
    width: 100%;
    margin-top: 10px;
}

.mat-column-symbol {
    width: 80px;
}

.add-scan {
    display: flex;
    align-items: baseline;
}

.date {
    width: 120px;
}

.label {
    margin: 0 0 0 15px;
}

.value {
    margin: 0 0 0 5px;
}